input {
  border: solid 1px black;
}

.title {
  font-family: helvetica;
  margin: 10px;
  font-size: 18px;
  background-color: white;
  text-align: center;
  margin-top: 5%;
}

#container > div {
  margin-left: 15%;
}

.item > div {
  text-align: center;
  margin: 10px;
  display: inline-block;
  width: 30px;
  padding: 10px;
  margin-left: 10%;
}

.row {

}

.col-xs-2 {

}

.col-xs-3 {

}

.col-xs-5 {

}

.col-xs-4 {

}

.col-xs-7 {

}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

#calc-prices-button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin:10px;
    text-align: center;
}

#show-price {
    text-align: center;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
    text-align: center;
}

.quantity {
  margin: 0 5px;
}
